<div class="home-container">
    <div class="home-title dark-bg">
        <div class="home-wrapper">
            <div class="profile-links">
                A
            </div>
            <div class="home-card home-intro">
                <div class="home-card-header">
                    — Introduction
                </div>
                <div class="home-card-title">
                    Full Stack Software Developer and Computer Geek, from Washigton D.C.
                </div>
                <div class="home-card-body">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id eleifend tortor. Maecenas cursus, nunc sollicitudin
                    iaculis maximus, turpis mauris sollicitudin nisl, sed pulvinar mi mi in diam.
                </div>
                <div class="home-card-footer pointer" routerLink="/about">
                    <span>Learn More</span><span>→</span>
                </div>
            </div>
        </div>
    </div>
    <div class="home-section light-bg">
        <div class="home-wrapper">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id eleifend tortor. Maecenas cursus, nunc sollicitudin
            iaculis maximus, turpis mauris sollicitudin nisl, sed pulvinar mi mi in diam. Nullam dictum neque semper urna
            tincidunt vehicula. Proin feugiat finibus purus, sed euismod dolor. Suspendisse dignissim efficitur ex, ac consequat
            ligula placerat at. Nam hendrerit tempor nibh, vel vehicula ligula volutpat at. Sed id semper libero. Morbi rhoncus
            aliquam nisi vel tincidunt. Vivamus pulvinar, est sit amet tempus pulvinar, libero ipsum gravida lectus, vitae
            convallis libero risus quis felis. Aliquam facilisis eleifend nunc aliquet pellentesque. Etiam in sapien quis tellus
            tempus laoreet. Curabitur eu sagittis libero. Etiam faucibus venenatis erat, vitae volutpat ipsum volutpat vitae.
            Suspendisse id risus eu libero interdum dignissim.
        </div>
    </div>
    <div class="home-section dark-bg">
        <div class="home-wrapper">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis id eleifend tortor. Maecenas cursus, nunc sollicitudin
            iaculis maximus, turpis mauris sollicitudin nisl, sed pulvinar mi mi in diam. Nullam dictum neque semper urna
            tincidunt vehicula. Proin feugiat finibus purus, sed euismod dolor. Suspendisse dignissim efficitur ex, ac consequat
            ligula placerat at. Nam hendrerit tempor nibh, vel vehicula ligula volutpat at. Sed id semper libero. Morbi rhoncus
            aliquam nisi vel tincidunt. Vivamus pulvinar, est sit amet tempus pulvinar, libero ipsum gravida lectus, vitae
            convallis libero risus quis felis. Aliquam facilisis eleifend nunc aliquet pellentesque. Etiam in sapien quis tellus
            tempus laoreet. Curabitur eu sagittis libero. Etiam faucibus venenatis erat, vitae volutpat ipsum volutpat vitae.
            Suspendisse id risus eu libero interdum dignissim.
        </div>
    </div>
</div>